<h1 class="text-center mt-4 "> <strong> Listing All Articles </strong> </h1>

<p> 
    <%=  link_to "Create new Article", new_article_path %>
</p>

<%= render 'article' %>
    <%# ---------------------------------------- %>

