<h1 class="text-center mt-4"> Create An Article  </h1>

<%= render 'form' %>
<%# as this is in a same folder we dont need to render this but ..
in case if we have shared directory..then we use shared/form %>